Repository UCSD-E4E/Pyrenote, pull requests merged in 2021-07, with the labels that each got.

#136 Hotfix: Fixed bug with force next/previous + frontend production build fixes
  audino/frontend/Dockerfile
  audino/frontend/src/components/navbutton.js
  audino/frontend/src/pages/annotate.js
  audino/frontend/test.sh
Labels: Server, bug, frontend, high priority

#140 Hotfix 1.0.1: Force Next/Previous + Frontend Production Update Fix
  README.md
  audino/README.md
  audino/frontend/Dockerfile
  audino/frontend/src/components/navbutton.js
  audino/frontend/src/pages/annotate.js
  audino/frontend/test.sh
Labels: bug, javascript, medium priority

#99 Database restoration
  audino/mysql/Dockerfile
  audino/mysql/crontab
  audino/mysql/start.sh
  audino/mysql/thisfiletho
Labels: high priority

#115 Toggle Features Form
  audino/backend/models.py
  audino/backend/routes/projects.py
  audino/frontend/src/components/checklist.js
  audino/frontend/src/containers/forms/featureForm.js
  audino/frontend/src/containers/modal.js
  audino/frontend/src/pages/adminHandleForm.js
  audino/frontend/src/pages/annotate.js
Labels: admin, backend, frontend

#118 Can Now Press Enter On Project Creation
  audino/frontend/src/containers/forms/createProjectForm.js
Labels: admin, frontend

#145 Remove users.py hardcoding
  audino/backend/routes/users.py
Labels: dev: backend

#147 Handler for Access Token Errors
  audino/frontend/src/app.js
  audino/frontend/src/pages/index.js
Labels: dev: frontend

#167 Fix get next button issue
  audino/backend/routes/current_user.py
Labels: priority: high
