Repository UCSD-E4E/Pyrenote, pull requests merged in 2021-08, with the labels that each got.

#178 Send user back to data page if they hit previous
  audino/frontend/src/components/navbutton.js
Labels: dev: frontend

#177 Fixed bug where backend/migrations/versions did not appear for new users
  audino/backend/scripts/run-dev.sh
  audino/backend/scripts/run-prod.sh
Labels: dev: backend, dev: bug, dev: database

#174 Added playback changer
  audino/frontend/src/containers/forms/featureForm.js
  audino/frontend/src/pages/annotate.js
Labels: demo-exists, dev: frontend, ready to merge

#169 Set Individual projects as example rather than hardcode
  audino/backend/models.py
  audino/backend/routes/__init__.py
  audino/backend/routes/current_user.py
  audino/backend/routes/projects.py
  audino/frontend/src/containers/forms/editProjectForm.js
Labels: demo-exists, dev: admin, dev: database, ready to merge

#164 Add enter handlers to various textboxes in admin portal
  audino/frontend/src/containers/forms/editProjectForm.js
Labels: dev: admin, dev: enhancement, dev: frontend

#172 To unsaved clip
  audino/README.md
  audino/frontend/src/components/alert.js
  audino/frontend/src/components/navbutton.js
  audino/frontend/src/components/next_unsaved_button.js
  audino/frontend/src/containers/forms/featureForm.js
  audino/frontend/src/pages/annotate.js
  audino/frontend/src/pages/annotateHelpers/wavesurferMethods.js
  audino/mysql/Dockerfile
  audino/mysql/crontab
  audino/mysql/start.sh
  audino/mysql/thisfiletho
Labels: demo-exists, dev: frontend, ready to merge

#183 Fixed example project bug
  audino/backend/models.py
  audino/backend/routes/projects.py
  audino/frontend/src/containers/forms/editProjectForm.js
  audino/frontend/src/pages/annotate.js
Labels: dev: bug

#180 Componenterize Annotate
  audino/frontend/src/app.js
  audino/frontend/src/components/alert.js
  audino/frontend/src/components/annotate/extraFeatures/changePlayback.js
  audino/frontend/src/components/annotate/extraFeatures/next_unsaved_button.js
  audino/frontend/src/components/annotate/extraFeatures/previousAnnotationButton.js
  audino/frontend/src/components/annotate/labelButtons.js
  audino/frontend/src/components/annotate/labelsSection.js
  audino/frontend/src/components/annotate/markedForReview.js
  audino/frontend/src/components/annotate/navbutton.js
  audino/frontend/src/components/annotate/renderingMsg.js
  audino/frontend/src/components/annotate/spectrogram.js
  audino/frontend/src/components/checklist.js
  audino/frontend/src/components/next_unsaved_button.js
  audino/frontend/src/containers/forms/createLabelForm.js
  audino/frontend/src/containers/forms/createLabelValuelForm.js
  audino/frontend/src/containers/forms/createProjectForm.js
  audino/frontend/src/containers/forms/createUserForm.js
  audino/frontend/src/containers/forms/deleteLabelFrom.js
  audino/frontend/src/containers/forms/deleteLabelValueFrom.js
  audino/frontend/src/containers/forms/deleteUser.js
  audino/frontend/src/containers/forms/downloadDataFrom.js
  audino/frontend/src/containers/forms/editLabelForm.js
  audino/frontend/src/containers/forms/editLabelValueForm.js
  audino/frontend/src/containers/forms/editProjectForm.js
  audino/frontend/src/containers/forms/editUserForm.js
  audino/frontend/src/containers/forms/featureForm.js
  audino/frontend/src/containers/forms/loginForm.js
  audino/frontend/src/containers/forms/manageUsersProjectForm.js
  audino/frontend/src/containers/forms/uploadDataForm.js
  audino/frontend/src/containers/modal.js
  audino/frontend/src/pages/admin.js
  audino/frontend/src/pages/annotate.js
  audino/frontend/src/pages/annotateHelpers/wavesurferMethods.js
  audino/frontend/src/pages/annotatefunctions.js
  audino/frontend/src/pages/index.js
Labels: dev: frontend, dev: refactor

#171 Reference audio
  audino/backend/models.py
  audino/backend/routes/current_user.py
  audino/backend/routes/data.py
  audino/frontend/src/components/dump.txt
  audino/frontend/src/components/refrence.js
  audino/frontend/src/containers/forms/featureForm.js
  audino/frontend/src/containers/forms/uploadDataForm.js
  audino/frontend/src/css/index.css
  audino/frontend/src/pages/annotate.js
  audino/frontend/src/wavesurfer.js/src/drawer.js
  audino/frontend/src/wavesurfer.js/src/plugin/spectrogram/index.js
Labels: dev: frontend, demo-exists

#186 Spelling and linting fixes
  audino/frontend/src/components/annotate/extraFeatures/next_unsaved_button.js
  audino/frontend/src/components/dump.txt
  audino/frontend/src/components/reference.js
  audino/frontend/src/containers/forms/featureForm.js
  audino/frontend/src/containers/forms/uploadDataForm.js
  audino/frontend/src/css/index.css
  audino/frontend/src/pages/admin.js
  audino/frontend/src/pages/annotate.js
Labels: dev: frontend, dev: refactor

#188 Cut refresh on annotate.js
  audino/frontend/src/components/annotate/navbutton.js
  audino/frontend/src/pages/annotate.js
Labels: dev: enhancement, dev: frontend, demo-exists

#187 Added edge case handler for not a reference upload
  .gitignore
  audino/backend/routes/data.py
  audino/backend/routes/projects.py
Labels: dev: bug, dev: backend

#173 Spectrogram changer
  audino/frontend/src/containers/forms/featureForm.js
  audino/frontend/src/pages/annotate.js
  audino/frontend/src/pages/annotateHelpers/wavesurferMethods.js
  audino/frontend/src/wavesurfer.js/src/plugin/spectrogram/index.js
  audino/frontend/src/wavesurfer.js/src/plugin/spectrogram/spectrogram.js
Labels: dev: enhancement, dev: frontend, demo-exists

#190 Linting and bugs
  audino/frontend/package.json
  audino/frontend/src/components/annotate/extraFeatures/next_unsaved_button.js
  audino/frontend/src/components/annotate/navbutton.js
  audino/frontend/src/components/annotate/spectroChanger.js
  audino/frontend/src/components/reference.js
  audino/frontend/src/containers/forms/editProjectForm.js
  audino/frontend/src/containers/forms/featureForm.js
  audino/frontend/src/containers/forms/uploadDataForm.js
  audino/frontend/src/pages/admin.js
  audino/frontend/src/pages/annotate.js
  audino/frontend/src/pages/annotateHelpers/wavesurferMethods.js
  audino/frontend/src/wavesurfer.js/src/drawer.js
  audino/frontend/src/wavesurfer.js/src/plugin/spectrogram/index.js
  audino/frontend/src/wavesurfer.js/src/plugin/spectrogram/spectrogram.js
Labels: dev: bug, dev: refactor

#116 Infinite data scroll
  audino/frontend/src/pages/data.js
Labels: dev: enhancement, dev: frontend

#195 Fixed toUnsaved Button
  audino/frontend/src/components/annotate/extraFeatures/next_unsaved_button.js
Labels: dev: bug

#191 Annotate UI rework
  audino/frontend/package.json
  audino/frontend/scripts/run-dev.sh
  audino/frontend/src/components/annotate/animation.js
  audino/frontend/src/components/annotate/annotationWindow.js
  audino/frontend/src/components/annotate/extraFeatures/changePlayback.js
  audino/frontend/src/components/annotate/extraFeatures/next_unsaved_button.js
  audino/frontend/src/components/annotate/extraFeatures/previousAnnotationButton.js
  audino/frontend/src/components/annotate/spectroChanger.js
  audino/frontend/src/components/button.js
  audino/frontend/src/components/reference.js
  audino/frontend/src/components/resizerElement.js
  audino/frontend/src/components/sideMenu.js
  audino/frontend/src/components/svg/WaveformEdit.js
  audino/frontend/src/css/index.css
  audino/frontend/src/pages/admin.js
  audino/frontend/src/pages/annotate.js
  audino/frontend/src/pages/data.js
  node_modules/bezier-easing/LICENSE
  node_modules/bezier-easing/README.md
  node_modules/bezier-easing/dist/bezier-easing.js
  node_modules/bezier-easing/dist/bezier-easing.min.js
  node_modules/bezier-easing/package.json
  node_modules/bezier-easing/src/index.d.ts
  node_modules/bezier-easing/src/index.js
  package-lock.json
Labels: dev: frontend, dev: styling/formatting

#197 Added markers for sticky range
  audino/frontend/src/components/annotate/extraFeatures/changePlayback.js
  audino/frontend/src/components/stickySlider.js
  audino/frontend/src/css/index.css
Labels: dev: frontend, dev: styling/formatting

#189 Confidence check
  audino/backend/models.py
  audino/backend/routes/__init__.py
  audino/backend/routes/current_user.py
  audino/backend/routes/data.py
  audino/frontend/package.json
  audino/frontend/src/components/annotate/annotationWindow.js
  audino/frontend/src/components/annotate/labelButtons.js
  audino/frontend/src/components/annotate/markedForReview.js
  audino/frontend/src/components/annotate/toggleYesNo.js
  audino/frontend/src/css/3-toggle.css
  audino/frontend/src/pages/annotate.js
  audino/frontend/src/pages/data.js
Labels: dev: enhancement, dev: frontend

#199 Fix error on delete annotation
  audino/frontend/src/pages/annotatefunctions.js
Labels: dev: bug, priority: high

#196 Rework next button system to handle more on the backend
  audino/backend/routes/__init__.py
  audino/backend/routes/current_user.py
  audino/backend/routes/next_clip.py
  audino/frontend/src/components/annotate/extraFeatures/next_unsaved_button.js
  audino/frontend/src/components/annotate/navbutton.js
  audino/frontend/src/components/sideMenu.js
  audino/frontend/src/containers/forms/setActiveForm.js
  audino/frontend/src/containers/modal.js
  audino/frontend/src/pages/annotate.js
  audino/frontend/src/pages/dashboard.js
  audino/frontend/src/pages/data.js
Labels: dev: frontend, demo-exists

#198 Raven annotations
  audino/backend/routes/JsonLabelsToCsv.py
  audino/backend/routes/data.py
  audino/backend/routes/projects.py
  audino/frontend/package.json
  audino/frontend/scripts/run-dev.sh
  audino/frontend/src/containers/forms/downloadDataFrom.js
Labels: dev: frontend, demo-exists

#207 Various bug fixes
  audino/backend/routes/next_clip.py
  audino/frontend/src/pages/dashboard.js
Labels: dev: bug

#209 Allow muiple users to be added to list in last_modified_by in json download
  audino/backend/models.py
  audino/backend/routes/data.py
  audino/backend/routes/projects.py
  audino/frontend/package.json
Labels: dev: bug

#204 Added Firefox combability changes
  audino/frontend/src/components/reference.js
  audino/frontend/src/wavesurfer.js/src/plugin/spectrogram/spectrogram.js
  audino/frontend/src/wavesurfer.js/src/webaudio.js
Labels: dev: bug

#201 Fixed clicking on spectrogram and not playing
  audino/frontend/src/pages/annotateHelpers/wavesurferMethods.js
  audino/frontend/src/wavesurfer.js/src/drawer.js
  audino/frontend/src/wavesurfer.js/src/wavesurfer.js
Labels: dev: bug

#175 Backend refractor
  audino/backend/models.py
  audino/backend/routes/JsonLabelsToCsv.py
  audino/backend/routes/__init__.py
  audino/backend/routes/audios.py
  audino/backend/routes/current_user.py
  audino/backend/routes/data.py
  audino/backend/routes/helper_functions.py
  audino/backend/routes/labels.py
  audino/backend/routes/login.py
  audino/backend/routes/project_labels.py
  audino/backend/routes/project_segmentations.py
  audino/backend/routes/projects.py
  audino/backend/routes/users.py
Labels: dev: backend, dev: refactor
